*{
  margin:0;
  padding:0;

}
.pageWrapper{
  background: black;
  width:100vw;
  height:100vh;
  position: relative;
}
.padWrapper{
  background:blue;
  width:50%;
  height:70%;
  position: absolute;
  top:15%;
  left:25%;
}
.sketchWrapper{
  position: absolute;
  background: red;
  width:80%;
  height:80%;
  top:10%;
  left:10%;
}
.resetButton{
  position: absolute;
  top:15%;
  left:10%;
}
#grid div{
  display: inline;
  border: 1px solid black;
}